/* By default width of any div covers the entire screen and it's default height is always the height of the text */


/* Height and Width for content */

/* div{
    height:100px;
    background-color:red;
    width:200px;
} */


/* Border Property 
    1. border-width
    2. border-style
    3. border-color */

div{
    height:100px;
    width:200px;
    background-color:yellow;
    border-width:10px;
    border-style:double;
    border-color:blue;
}


/* Text Alignment also can be aligned according to the user defined height and width. */


h1{
    height:100px;
    width:200px;
    text-align:center;
    background-color:green;
    border:5px double blue;            /* This is a shorter form of setting the border, where first comes the width(5px), followed by style(double) and color(blue) */
}


/* Border Radius - It is used to make the borders rounded */

button{
    height:100px;
    width:100px;
    /* border-radius:50%;                  This makes the button circular */
    background-color:orange;
    border-radius:50px;                    /* The border-radius can also be defined in pixels */
}

/* border-radius can also be made circular for square content boxes by a shortcut, using 50% or 50px */

/* Padding- It is the space between the content and the border 
    There are four types of padding:
        1. left
        2. right
        3. top
        4. bottom */
        

button{
    padding-left:20px;
    padding-right:30px;                 /* The padding here can be noticed by inspecting on the web-page. */
    background-color:yellow;
}


/* Shorthand padding 
    1. Directly assigning the pixel value, which is applied for all the four directions
    2. Assigning individual values for all four directions i.e, top, right, bottom, left(clock-wise direction, is followed while assigning different pxel values for all four directions in shorthand padding). */


button{
    padding:25px;              /* This applies the same padding value in all four directions */
    /* padding:1px 2px 3px 4px;        This indicates the pixel values in order(top, right, botton, left) i.e, clock-wise direction */
}

